@use "mixin" as *;

.wrapper {
  padding: 60px 0;
  background-size: cover !important;
}

.list {
  display: grid;
  gap: 50px;
  @include gridCols(4);
  color: var(--white);
  @include responsive(desktop) {
    gap: 30px;
  }
  @include responsive(laptop) {
    @include gridCols(2);
  }
  @include responsive(mobile) {
    @include gridCols(1);
  }
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  &__title {
    font-size: var(--text-lg);
    font-weight: bold;
  }
  &__desc {
    font-size: var(--text-xs);
    line-height: 1.7;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include responsive(laptop) {
      align-items: flex-start;
    }
  }
  &__contact {
    width: max-content;
    margin-top: 25px;
    display: grid;
    @include gridCols(3);
    gap: 30px;
    a {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.text-right {
  text-align: right;
  @include responsive(laptop) {
    text-align: left;
  }
}
