@use "mixin" as *;

.wrapper {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  max-height: 80px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  @include responsive(laptop) {
    max-height: 60px;
  }
}

.extend {
  max-height: 600px;
}

.set-background {
  background: rgba(1, 19, 88, 0.7);
  backdrop-filter: blur(4px);
}

.container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  @include responsive(laptop) {
    max-height: 60px;
  }
}

.navigation {
  display: flex;
  gap: 47px;
  @include responsive(laptop) {
    display: none;
  }
}

.list-nav {
  display: flex;
  align-items: center;
  flex: 1;
  column-gap: 30px;
  color: var(--white);
  font-size: var(--text-xs);
  font-weight: bold;
}

.connect-wallet {
  @include responsive(laptop) {
    display: none;
  }
}

.mobile-logo {
  display: none;
  width: 130px;
  @include responsive(laptop) {
    display: block;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  @include responsive(laptop) {
    display: block;
  }
}

.mobile-navigation {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary);
  font-family: var(--style-font-family);
  color: var(--white);
  & li {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    overflow: hidden;
    font-size: var(--text-xs);
    font-weight: bold;
  }
}

.extend {
  animation: max-height;
}

.nav-button {
  @include center;
  padding: 10px 0;
  background: linear-gradient(
    90deg,
    rgba(0, 83, 104, 1) 0%,
    rgba(0, 84, 105, 0.68) 63%,
    rgba(0, 84, 104, 0.5) 98%
  );
}
